@font-face {
	font-family: 'Miso';
	src: url('../fonts/Miso/Miso.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/Miso/Miso.otf')  format('opentype'),
	url('../fonts/Miso/Miso.woff') format('woff'),
	 url('../fonts/Miso/Miso.ttf')  format('truetype'),
	 url('../fonts/Miso/Miso.svg#Miso') format('svg');
	font-weight: normal;
	font-style: normal;
}
